.nav  li a:hover{
    color: black;
}

.nav  a{
    color: white;
}

body{
    font-size: 12px;
    margin: 0;
}
.navbar-toggle{
    border:1px solid white;
}
.navbar-toggle .icon-bar{
    background-color: white;
}
.navbar{
    background-color: rgba(0, 0, 0, 0.75);
}
.imagenav{
    height: 30px;
}
.seccion1 h1{
    font-size: 45px;
}
.imgcarr{
    width: 100%;
}
.seccion1{
    width: 70%;
    margin: auto;
}
.botoness1{
    padding: 10px;
}
.carousel, .carousel-inner > .item {
    height: 400px;
}
.seccion2{
    padding-top: 50px;
}
.seccion2 h3{
    font-size: 16px;
}
.seccion2 img{
    width: 50%;
    margin-top: 20px;
}
.center{
    text-align: center;
}
.black{
    background-color: black;
    padding-top: 10px;

    margin-bottom: 0;
    color: white;
}
.container{
    padding-top: 50px;
}
.gris{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    background-color: #f9f9f9;
}
.container{
    padding-top: 20px;
}
small{
    display: block;
}

.opcional{
    background-image: url(images/bg.jpeg);
    text-align: center;
    height: 400px;
    padding-top: 50px;
    color: white;
}
.opcional h1{
    font-size: 32px;
}
